.DS_Store
bin/*
dist/*
actions/*
*.log
trpc.log.*
stub
.idea
.tarc
.fib
.vscode
coverage.*
bazel-*
/service/cmd/foundation/faas/faas
app.yaml
/service/cmd/foundation/auth/auth
/auth
/faas
/engine
/timer
.idea/*
workflow-data/*
workflow-data/definitions/*
workflow-data/instances/*
wf-cli
